torch>=2.0
pytorch-lightning>=2.0
torchmetrics

numpy
pandas
scipy
h5py
scikit-learn

neurokit2
biosppy
heartpy
wfdb

xgboost
lightgbm

matplotlib
seaborn
plotly

wandb
omegaconf
hydra-core

tqdm
click
pytest
